DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/tasks_api?schema=public"
PORT=3000
AUTH0_AUDIENCE=https://tasks-api
AUTH0_DOMAIN=dev-1cxhnmreg4c8x0o6.us.auth0.com
AUTH0_ISSUER=https://dev-1cxhnmreg4c8x0o6.us.auth0.com/